@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-full px-6 py-3 bg-cyanDefault border-none text-white;
  }
  .nav-text {
    @apply text-grayishViolet font-bold;
  }
  .body-text {
    @apply text-grayDefault;
  }
  .menu {
    @apply w-[20px] h-[2px] bg-gray-500 mb-[5px];
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
