@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-3 px-6 rounded-full text-white transition-opacity hover:opacity-70;
  }
  .btn-primary {
    @apply bg-brightRed;
  }
  .btn-secondary {
    @apply bg-white;
  }
  .number {
    @apply text-white bg-brightRed py-2 px-6 font-bold text-lg rounded-full;
  }
}

body {
  /* font-family: "Be Vietnam Pro", sans-serif; */
  overflow-x: hidden;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: top -10rem right -12rem;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 976px) and (min-width: 768px) {
  body {
    background-position: 250px 1-00px;
    background-size: 600px;
  }
}
@media (max-width: 480px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
}
