@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  body {
    background-image: url("./images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 50px -50px;
    background-size: 500px;
  }
}
