@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-btn {
    @apply cursor-pointer hover:text-veryDarkGrayishBlueInput transition-colors dark:hover:text-lightGrayishBlueHover;
  }
  .filter-btn--mobile {
    @apply bg-veryLightGray rounded-[4px] text-veryDarkGrayishBlue shadow-xl dark:bg-veryDarkDesaturatedBlue dark:text-lightGrayishBlueDark;
  }
  .checkBackground {
    background: linear-gradient(to bottom left, #57ddff, #c058f3);
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  width: 100%;
  max-width: 768px;
}
.active {
  color: #3a7bfd;
  font-weight: bold;
}

.filter {
  padding: 15px 0;
}

@media (min-width: 768px) {
  header {
    max-width: 100%;
  }
}
