@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LeagueSpartanRegular;
  src: url('../public/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf');
}
@font-face {
  font-family: LeagueSpartanMedium;
  src: url('../public/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf');
}
@font-face {
  font-family: LeagueSpartanBold;
  src: url('../public/fonts/League_Spartan/static/LeagueSpartan-Bold.ttf');
}

@layer components {
  .skill {
    @apply bg-lighter-grayish-cyan px-2 py-1 text-desaturated-dark-cyan text-[14px] font-lsBold rounded-sm cursor-pointer transition hover:bg-desaturated-dark-cyan hover:text-light-grayish-cyan;
  }
  .wrapper {
    @apply w-11/12 max-w-screen-xl mx-auto mt-12 lg:w-3/4;
  }
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: LeagueSpartanRegular;
}

.header {
  background-image: url('../public/images/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 480px) {
  .header {
    background-image: url('../public/images/bg-header-desktop.svg');
  }
}
