:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-light-pink: hsl(275, 100%, 97%);
  --bg-grayish-purple: hsl(292, 16%, 49%);
  --bg-dark-purple: hsl(292, 42%, 14%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.faqs {
  width: min(85%, 620px);
  margin: 12rem auto;
  padding: 20px 25px;
  background-color: var(--bg-white);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.faqs .header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.faqs .title {
  font-size: 3rem;
  color: var(--bg-dark-purple);
  font-weight: bold;
}
.faqs .questions {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.faq {
  position: relative;
  cursor: pointer;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.faq:nth-last-of-type(1) {
  border-bottom: none;
}
.faq .question {
  color: var(--bg-dark-purple);
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.faq .question:hover {
  color: #ad28eb;
}
.faq .answer {
  margin-top: 35px;
  color: var(--bg-grayish-purple);
  line-height: 1.5;
}
.faq > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

@media (max-width: 480px) {
  .faqs {
    margin: 8rem auto;
  }
  .header-image {
    width: 100vw;
  }
  .faqs .title {
    font-size: 2rem;
  }
}
