@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Red-hat-regular;
  src: url('./assets/fonts/static/RedHatText-Regular.ttf');
}

@font-face {
  font-family: Red-hat-semi-bold;
  src: url('./assets/fonts/static/RedHatText-SemiBold.ttf');
}

@font-face {
  font-family: Red-hat-bold;
  src: url('./assets/fonts/static/RedHatText-Bold.ttf');
}

body {
  font-family: Red-hat-regular;
  background-color: hsl(20, 50%, 98%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 6px;
}

@media (max-width: 430px) {
  .modal {
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    left: -5%;
    bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
@media (min-width: 430px) {
  .modal {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .modal {
    width: 550px;
  }
}
